<section class="page-title" style="background-image:url({if $cate['image']}{$cate['image']}{else /}__CMS__/images/vikv.jpg{/if})">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h1>{$cate.name}</h1>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="{$site.index_url}">首页</a></li>
                    <li>{$cate.name}</li>
                </ul>
            </div>
        </div>
    </div>
</section>