	<!--Logo-->
    <div class="logo pull-left">
        <a href="{$site.index_url}" class="img-responsive"><img src="__CMS__/images/logo.png" alt="" title=""></a>
    </div>
    
    <!--Btn Outer-->
    <div class="btn-outer">
        {if $user}
        <a href="#" class="theme-btn btn-style-one">{$user['username']}</a>
        <a href="/cms/user/logout" class="theme-btn btn-style-one">退出登陆</a>
        {else /}
        
        <a href="/cms/user/login" class="theme-btn btn-style-one">登 陆</a>
        <a href="/cms/user/register" class="theme-btn btn-style-one">注 册</a>
        {/if}
        <!-- <a href="/cms/user/login" class="theme-btn btn-style-one">登 陆</a>
        <a href="/cms/user/register" class="theme-btn btn-style-one">注 册</a> -->
    </div>