<div class="right-col pull-right">
    <!-- Main Menu -->
    <nav class="main-menu">
        <div class="navbar-header">
            <!-- Toggle Button -->    	
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        
        <div class="navbar-collapse collapse clearfix">
            <ul class="navigation clearfix">


                {volist name="nav" id="v"}                            
                {if $v.childlist}
                <li class="dropdown {if $cate['id'] eq $v['id']   OR $cate['is_top'] eq $v['id']}current{/if} "><a href="{$v.url}">{$v.name}</a>                                
                    <ul>
                        {volist name="$v.childlist" id="v2"}                                       
                     
                            {if $v2.childlist}                                            
                                <li class="dropdown"><a href="{$v2.url}">{$v2.name}</a>
                                    <ul>
                                        {volist name="$v2.childlist" id="v3"}
                                        <li><a href="{$v3.url}">{$v3.name}</a></li>
                                        {/volist}                                
                                    </ul>
                                </li>
                            {else /}
                           
                                <li><a href="{$v2.url}">{$v2.name}</a></li>
                            {/if}
                        {/volist}
                    </ul>
                </li>   
                {else /}
                    <li {if $cate['id'] eq $v['id']}class="current"{/if}><a href="{$v.url}">{$v.name}</a></li>
                {/if}
                {/volist}

           
                
             </ul>
        </div>
    </nav><!-- Main Menu End-->
</div>