<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{$site.name}-{$cate.name}</title>
<!-- Stylesheets -->
<link href="__CMS__/css/bootstrap.css" rel="stylesheet">
<link href="__CMS__/css/style.css" rel="stylesheet">
<link href="__CMS__/css/responsive.css" rel="stylesheet">

<!--Color Switcher Mockup-->


<!--Color Themes-->
<link id="theme-color-file" href="__CMS__/css/color-themes/default-theme.css" rel="stylesheet">

<link rel="shortcut icon" href="__CMS__/images/favicon.png" type="image/x-icon">
<link rel="icon" href="__CMS__/images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="__CMS__/js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header header-style-two">
    	
    	<!--Header-Upper-->
       {include file="index/common/header_upper" /}
        <!--End Header Upper-->
        
        <!--Header Lower-->
        {include file="index/common/nav" /}
        <!--End Header Lower-->
    
    	<!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            {include file="index/common/logo_and_login" /}
                
                <!--Right Col-->
                {include file="index/common/nav2" /}
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->
    
    <!--Page Title-->
    {include file="index/common/banner_nav" /}
    <!--End Page Title-->
    
    <!--About Clinic Section-->
    <section class="about-clinic-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Image Column-->
                <div class="image-column col-md-4 col-sm-12 col-xs-12">
                	<div class="image">
                    	<img src="__CMS__/images/about-1.jpg" alt="" />
                    </div>
                </div>
                <!--Content Column-->
                <div class="content-column col-md-8 col-sm-12 col-xs-12">
                	<div class="inner-column">
                    	<div class="sec-title">
                        	<h2>{$cate.name}</h2>
                            <div class="text">{$content.title}</div>
                        </div>
                        <div class="" style="font-size: 17px;margin-bottom: 50px; line-height: 30px;">
                        	{$content.content}
                        </div>
                        <!-- <a href="{tp:cate id='1' type='url'/}" class="theme-btn btn-style-one">联系我们</a> -->
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End About Clinic Section-->
    
    <!--Approach Section-->
    <section class="approach-section">
    	<div class="auto-container">
        	<div class="inner-container">
            	
                <div class="row clearfix">
                	
                   	<!--Title Column-->
                    <div class="title-column col-md-4 col-sm-12 col-xs-12">
                    	<div class="sec-title">
                        	<h2>使用方法</h2>
                        </div>
                    </div>
                    <div class="content-column col-md-8 col-sm-12 col-xs-12">
                    	
                        <div class="bold-text">安装好框架后
                            只需要复制表修改表字段（只需要字段）
                            一键生成后台菜单命令（增删改查）
                            添加/修改栏目选择表即可（如果数据库表名未修改不用修改）
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </section>
    <section class="approach-section">
    	<div class="auto-container">
        	<div class="inner-container">
            	
                <div class="row clearfix">
                	
                   	<!--Title Column-->
                    <div class="title-column col-md-4 col-sm-12 col-xs-12">
                    	<div class="sec-title">
                        	<h2>主要优点</h2>
                        </div>
                    </div>
                    <div class="content-column col-md-8 col-sm-12 col-xs-12">
                        <div class="bold-text">
                        	简洁的CMS，集成微信小程序和微信公众号功能，后台集成栏目管理，后台一键生成增删改查等
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </section>
    <!--End Approach Section-->
    
    <!--Testimonial Section-->
    <section class="testimonial-section">
    	<div class="upper-box" style="background-image:url(__CMS__/images/2.jpg)">
            <div class="auto-container">
                <div class="title-box">
                	<h2>体验评价</h2>
                    
                </div>
            </div>
        </div>
        <div class="testimonial-blocks">
        	<div class="auto-container">
                <div class="testimonial-carousel owl-carousel owl-theme">
                
                    <!--Testimonial Block-->
                    {tp:list name="list" id="58"}
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="content">
                                <div class="image">
                                    <img src="{$list.image}" alt="" />
                                </div>
                                <h3>{$list.name} </h3>
                                <div class="title">{$list.title}</div>
                                <div class="text">{$list.content}</div>
                            </div>
                        </div>
                    </div>
                    {/tp:list}
             
                    
                </div>
            </div>
        </div>
    </section>
    <!--End Testimonial Section-->
    
    <!--Fun Facts Section-->
    <div class="fact-counter-section">
        <div class="fact-counter">
            <div class="auto-container">
                <div class="row clearfix" >
                
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner" >
                        	<div class="count-outer count-box" >
                            	<span class="count-text" data-speed="2000" data-stop="360"></span><span style="color: #fff;font-size: 16px;">度</span>
                            </div>
                        	<h4 class="counter-title">人工智能培训 360°服务</h4>
                        </div>
                    </div>
            
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                        	<div class="count-outer count-box">
                            	<span class="count-text" data-speed="2000" data-stop="10">0</span><span style="color: #fff;font-size: 16px;">+</span>
                            </div>
                        	<h4 class="counter-title">多行业多领域项目实践</h4>
                        </div>
                    </div>
            
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                        	<div class="count-outer count-box">
                            	<span class="count-text" data-speed="3000" data-stop="80">0</span><span style="color: #fff;font-size: 16px;">%</span>
                            </div>
                        	<h4 class="counter-title">实践课程引导理论知识</h4>
                        </div>
                    </div>
            
                    <!--Column-->
                    <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                        <div class="inner">
                        	<div class="count-outer count-box">
                            	<span class="count-text" data-speed="2000" data-stop="8">0</span><span style="color: #fff;font-size: 16px;">+</span>
                            </div>
                        	<h4 class="counter-title">AI主流就业方向</h4>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!--End Fun Facts Section-->
    
    <!--Main Footer-->
{include file="index/common/footer" /}
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    
    
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>
            <span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>
            <span class="palate green-color" data-theme-file="css/color-themes/green-theme.css"></span>
            <span class="palate aqua-color" data-theme-file="css/color-themes/aqua-theme.css"></span>
            <span class="palate blue-color" data-theme-file="css/color-themes/blue-theme.css"></span>
            <span class="palate orange-color" data-theme-file="css/color-themes/orange-theme.css"></span>
            <span class="palate olive-color" data-theme-file="css/color-themes/olive-theme.css"></span>
            <span class="palate red-color" data-theme-file="css/color-themes/red-theme.css"></span>
        </div>
    </div>

    

</div>
<!-- /.End Of Color Palate -->

<script src="__CMS__/js/jquery.js"></script>
<script src="__CMS__/js/bootstrap.min.js"></script>
<script src="__CMS__/js/jquery.fancybox.js"></script>

<script src="__CMS__/js/owl.js"></script>
<script src="__CMS__/js/wow.js"></script>
<script src="__CMS__/js/appear.js"></script>
<script src="__CMS__/js/script.js"></script>

<!--Color Switcher-->
<script src="__CMS__/js/color-settings.js"></script>
</body>
</html>