<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>匀熵教育-用户中心</title>
<!-- Stylesheets -->
<link href="__CMS__/css/bootstrap.css" rel="stylesheet">
<link href="__CMS__/css/style.css" rel="stylesheet">
<link href="__CMS__/css/responsive.css" rel="stylesheet">

<!--Color Switcher Mockup-->
<link href="__CMS__/css/color-switcher-design.css" rel="stylesheet">

<!--Color Themes-->
<link id="theme-color-file" href="__CMS__/css/color-themes/default-theme.css" rel="stylesheet">

<link rel="shortcut icon" href="__CMS__/images/favicon.png" type="image/x-icon">
<link rel="icon" href="__CMS__/images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="__CMS__/js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header header-style-two">
    	
    	<!--Header-Upper-->
       {include file="index/common/header_upper" /}
        <!--End Header Upper-->
        
        <!--Header Lower-->
        {include file="index/common/nav" /}
        <!--End Header Lower-->
    
    	<!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            {include file="index/common/logo_and_login" /}
                
                <!--Right Col-->
                {include file="index/common/nav2" /}
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->
    
    <!--Page Title-->
    {include file="index/common/banner_nav" /}
    <!--End Page Title-->
    
    <!--Services Page Section-->
    <section class="offer-section" style="background-image:url(__CMS__/images/libg.jpg);"> 
    	<div class="auto-container">
        	<div class="content">
            	
                
                <!-- Offer Form -->
                <div class="offer-form">
                        
                    <form method="post" action="/cms/user/add_line">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="您的真实姓名（必填）" required>
                        </div>
                        
                        <div class="form-group">
                            <input type="email" name="email" placeholder="邮箱（必填）" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="tel" placeholder="联系电话（必填）" required>
                        </div>
                        <div class="form-group">
                            <input type="number" name="year" placeholder="年龄（必填）" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="card" placeholder="证件号（身份证或学生证必填）" required>
                        </div>
                        
                            <div class="form-group">
                               
                              <select class="custom-select-box" name="sex">
                                    <option>性别必填</option>
                                    <option value="1">男</option>
                                    <option value="2">女</option>
                                </select>
                            </div>
                            
                       
                        <div class="cb">
                            <div class="form-group fL" style="min-width: 200px;margin-right: 15px;">
                               
                              <select class="custom-select-box" name="work">
                                    <option value="在校">在校—学校名称</option>
                                    <option value="在职">在职—公司名称</option>
                                    <option value="待业">待业</option>
                                </select>
                            </div>
                            <div class="fL form-group" style=" min-width: 485px;"><input type="text" name="school" placeholder="学校名称（必填）" required></div>
                        </div>
                      <div class="form-group " >

                            <select class="custom-select-box" id="classcate">
                                <option>所报等级（必填）</option>
                                {volist name="catelist" id="v2"}
                                <option  value="{$v2.id}">{$v2.catename}</option>
                                {/volist}
                                <!-- <option>人工智能—中级工程师</option>
                                <option>人工智能—高级工程师</option> -->
                            </select>
                        </div>
                        <div class="form-group cb"  >

                         <div class="RadioStyle">
                            <div class="Block PaddingL">
                                {volist name="classes" id="v"}
                                <input type="checkbox" name="class_ids[]" value="{$v.id}" class="classes cateid{$v.classcate_id} id="love{$key+1}" />
                                <label for="love{$key+1}" class="classes cateid{$v.classcate_id}">{$v.name}</label>
                                {/volist}
                             
                                <!-- <input type="checkbox" id="love2" />
                                <label for="love2">数学基础（一）</label>
                                <input type="checkbox" id="love3" />
                                <label for="love3">机器学习基础与应用</label> -->
                            </div>
                        </div>
                         
                        </div>
                            
                        <script>
                            $("#classcate").change(function(){
                                
                                var cate_id = $("#classcate").val(); 
                                
                                $('.classes').hide();
                                $('.cateid'+cate_id).show();
                            }); 
                        </script>
                       
                        
                        
                      <div class="form-group">
                            <button class="theme-btn btn-style-one" type="submit" >提 交</button>
                        </div>
                    </form>
                        
                </div>
                <!--End Default Form --> 
                
            </div>
        </div>
    </section>
    <!--End Services Page Section-->
    
    <!--Main Footer-->
{include file="index/common/footer" /}
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    
    
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>
            <span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>
            <span class="palate green-color" data-theme-file="css/color-themes/green-theme.css"></span>
            <span class="palate aqua-color" data-theme-file="css/color-themes/aqua-theme.css"></span>
            <span class="palate blue-color" data-theme-file="css/color-themes/blue-theme.css"></span>
            <span class="palate orange-color" data-theme-file="css/color-themes/orange-theme.css"></span>
            <span class="palate olive-color" data-theme-file="css/color-themes/olive-theme.css"></span>
            <span class="palate red-color" data-theme-file="css/color-themes/red-theme.css"></span>
        </div>
    </div>

    
</div>
<!-- /.End Of Color Palate -->

<script src="__CMS__/js/jquery.js"></script> 
<!--Revolution Slider-->
<script src="__CMS__/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="__CMS__/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="__CMS__/js/main-slider-script.js"></script>

<script src="__CMS__/js/bootstrap.min.js"></script>
<script src="__CMS__/js/jquery.fancybox.js"></script>

<script src="__CMS__/js/owl.js"></script>
<script src="__CMS__/js/wow.js"></script>
<script src="__CMS__/js/appear.js"></script>
<script src="__CMS__/js/script.js"></script>

<!--Google Map APi Key-->
<script src="http://ditu.google.cn/maps/api/js?key=AIzaSyBKS14AnP3HCIVlUpPKtGp7CbYuMtcXE2o"></script>
<script src="__CMS__/js/map-script.js"></script>
<!--End Google Map APi-->

<!--Color Switcher-->
<script src="__CMS__/js/color-settings.js"></script>
</body>
</html>