<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{$site.name}-{$cate.name}</title>
<!-- Stylesheets -->
<link href="__CMS__/css/bootstrap.css" rel="stylesheet">
<link href="__CMS__/css/style.css" rel="stylesheet">
<link href="__CMS__/css/responsive.css" rel="stylesheet">

<!--Color Switcher Mockup-->
<link href="__CMS__/css/color-switcher-design.css" rel="stylesheet">

<!--Color Themes-->
<link id="theme-color-file" href="__CMS__/css/color-themes/default-theme.css" rel="stylesheet">

<link rel="shortcut icon" href="__CMS__/images/favicon.png" type="image/x-icon">
<link rel="icon" href="__CMS__/images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="__CMS__/js/respond.js"></script><![endif]-->
</head>

<style>

.fot{
		width: 100%;
		padding: 35px 0;
		box-sizing: border-box;
		display: flex;
	}
	.fot_left{
		width: 50%;
		color: #232323;
		font-size: 14px;
	}
	.fot_next{
		text-align: right;
	}
</style>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header header-style-two">
    	
    	<!--Header-Upper-->
        {include file="index/common/header_upper" /}
        <!--End Header Upper-->
        
        <!--Header Lower-->
        {include file="index/common/nav" /}
        <!--End Header Lower-->
    
    	<!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
                {include file="index/common/logo_and_login" /}
                
                <!--Right Col-->
                {include file="index/common/nav2" /}
                
            </div>
        </div>
        <!--End Sticky Header-->
    
    </header>
    <!--End Main Header -->
    
    <!--Page Title-->
    <section class="page-title" style="background-image:url(__CMS__/images/newskv.jpg)">
    	<div class="auto-container">
        	<div class="clearfix">
            	<div class="pull-left">
                	<h1>{$cate.name}</h1>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="{$site.index_url}">首页</a></li>
                        <li>{$cate.name}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Side / Our Blog-->
                <div style="text-align: center;color: #000;font-size: 25px;">{$content.title}</div>
                <div style="text-align: center;margin-top: 10px;font-size: 16px;">{:date('Y-m-d',$content.createtime)}</div>
                <div style="border-top: 1px solid #ccc;margin-top: 30px;"></div>
                <div style="line-height: 25px;font-size: 16px;margin-top: 30px; padding: 0px 10px;">
                    {$content.content} 
                </div>
                
                <!--Sidebar Side-->
                
                

                <div class="fot">
                    <div class="fot_left">
                        {if $content.prev}<ul class="fot_prv com_url" data-url="{$content.prev.url}">上一篇：{$content.prev.title}</ul>{/if}
                    </div>
                    <div class="fot_left">
                        {if $content.next}<ul class="fot_next com_url" data-url="{$content.next.url}">下一篇：{$content.next.title}</ul>{/if}
                    </div>
                </div>

            </div>
        </div>


       
    </div>
    <!--End Sidebar Page Container-->
  
    
    <!--Main Footer-->
    {include file="index/common/footer" /}
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    
    
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>
            <span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>
            <span class="palate green-color" data-theme-file="css/color-themes/green-theme.css"></span>
            <span class="palate aqua-color" data-theme-file="css/color-themes/aqua-theme.css"></span>
            <span class="palate blue-color" data-theme-file="css/color-themes/blue-theme.css"></span>
            <span class="palate orange-color" data-theme-file="css/color-themes/orange-theme.css"></span>
            <span class="palate olive-color" data-theme-file="css/color-themes/olive-theme.css"></span>
            <span class="palate red-color" data-theme-file="css/color-themes/red-theme.css"></span>
        </div>
    </div>

    
</div>
<!-- /.End Of Color Palate -->

<script src="__CMS__/js/jquery.js"></script> 
<!--Revolution Slider-->
<script src="__CMS__/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="__CMS__/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="__CMS__/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="__CMS__/js/main-slider-script.js"></script>

<script src="__CMS__/js/bootstrap.min.js"></script>
<script src="__CMS__/js/jquery.fancybox.js"></script>

<script src="__CMS__/js/owl.js"></script>
<script src="__CMS__/js/wow.js"></script>
<script src="__CMS__/js/appear.js"></script>
<script src="__CMS__/js/script.js"></script>

<!-- Google Map APi Key
<script src="http://ditu.google.cn/maps/api/js?key=AIzaSyBKS14AnP3HCIVlUpPKtGp7CbYuMtcXE2o"></script> --> 
<!-- <script src="__CMS__/js/map-script.js"></script> -->
<!--End Google Map APi-->

<!--Color Switcher-->
<script src="__CMS__/js/color-settings.js"></script>

<script>
	$('.com_url').on('click',function(e){
    	var url = $(this).attr('data-url');
    	location.href = url;
    });
</script>
</body>
</html>